<div class="card">
    <div class="card">
        <h1>Información</h1>
        <p>
            Fundamentos de Redes
            2 semestre 2020
        </p>
        <p>Realizado por:</p>
        <p>Amanda Castro</p>
        <p>Ariel Rodríguez</p>
        <p>Daniel Salazar</p>
        <p>Miranda Venegas</p>
    </div>
</div>
